:root {
     --body-bg: rgb(204, 204, 204);
     --white: #ffff;
     --darkWhite: #ccc;
     --black: #000000;
     --dark: #615c60;
     --themeColor: #22b8d1;
     --pageShadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

}

/* Font Include */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

body {
     background-color: var(--body-bg);
}


